/*styles.css*/
body{
    padding: 0px;
    margin:0px;
}

.title {
    background-color: pink;
    font-weight: bold;
    text-align: center;
}


.flex-ul{
    display:flex;
}

.first-link,.second-link,.third-link {
 border: 1px;
 border-color: grey;
 border-style: solid;
 padding:10px;
 width: 300px;
 margin:15px auto;
 font-family: 'Times New Roman', Times, serif;
     
}

#sec {
    background-color: aliceblue;
}

#third {
    background-color: aquamarine;
 
}
.blueclr{
       color:blue;
}

.img-edit{
    margin: 0 auto;
    width: 300px; 
    height: 300px;
}

span.flexstyle {
    display:flex;
    align-items: center;
}